<div class="bg-light px-4 text-uppercase font-weight-bold" style="padding: 1.20em;">
  Investment Summary
</div>
<div class="p-4">
  <ul class="list-unstyled mb-4">
      <li class="d-flex justify-content-between py-3 border-bottom">
          <strong class="text-muted">Farm Business Name</strong>
          <strong>{{farmName | titlecase}}</strong>
      </li>
      <li class="d-flex justify-content-between py-3 border-bottom">
          <strong class="text-muted">Unit Price</strong>
          <strong>{{price | currency}}</strong>
      </li>
      <li class="d-flex justify-content-between py-3 border-bottom">
        <strong class="text-muted">Quantity</strong>
        <strong>{{quantity}}</strong>
    </li>
      <li class="d-flex justify-content-between py-3 border-bottom">
          <strong class="text-muted">Total Amount</strong>
          <strong>{{total | currency}}</strong>
      </li>
  </ul>
</div>
