<section id="section16" class="section16">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft">
        <form id="contact">
          <!-- IF MAIL SENT SUCCESSFULLY -->
          <p class="success alert alert-success"><i class="fa fa-check"></i> Your message has been sent successfully. </p>
          <!-- IF MAIL SENDING UNSUCCESSFULL -->
          <p class="error alert alert-danger"><i class="fa fa-times"></i> E-mail must be valid and message must be longer than 1 character. </p>
          <div class="control-group form-group">
            <div class="controls">
              <input  class="form-control" id="cf-name" type="text" name="cf-name" placeholder="NAME">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <input class="form-control" id="cf-email" type="text" name="cf-email" placeholder="EMAIL">
            </div>
          </div>
          <br>
          <div class="control-group form-group">
            <div class="controls">
             <input class="form-control" id="cf-subject" type="text" name="cf-subject" placeholder="SUBJECT">
            </div>
          </div>
          <br>
          <div class="control-group form-group">
            <div class="controls">
              <textarea class="form-control custom-control" id="cf-message" rows="4" name="cf-message" placeholder="HOW CAN I HELP? "></textarea>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" id="cf-submit" name="submit" class="btn btn-primary" (click)="test()">SUBMIT</button>
        </form>
      </div>
      <div class="col-md-6 wow fadeInRight">
        <div class="row">
          <div class="col-md-6">
            <div class="address">
              <h4>Office Work Hours</h4>
          	  <p>We are available more than 9 hours.</p>
              <p><b>Mon-Fri :</b> 09am to 06pm</p>
              <p><b>Tues-Wed :</b> Special Appointment</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="address">
              <h4>Connect With Us</h4>
          	  <p><b>Phone :</b>+961 81 810 137 / +961 70 875 303</p>
              <p><b>Email :</b> digitalfarmer@gmail.com</p>
              <p><b>Website :</b> www.digitalfarmer.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.4515050296823!2d85.30938781439113!3d27.70334258279361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m3!3e6!4m0!4m0!5e0!3m2!1sen!2snp!4v1469920087323" height="250" frameborder="0" style="width:100%; border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<section id="footer-top" class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-top-box wow fadeInUp">
          <h4>About Us</h4>
          <p>"Digital Farmer" is a platform engaging a crowdfunding approach that goes-between investors and entrepreneurs, catalyzing the fundraising of agriculture projects in Lebanon.</p>
        </div>
        <div class="footer-top-box wow fadeInUp">
          <h4>Office Work Hours</h4>
          <b>Mon-Fri :</b> 09am to 06pm<br/>
          <b>Tues-Wed :</b> Special Appointment
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-top-box wow fadeInUp">
          <h4>Latest Farm Packages</h4>
          <ul>
            <li><a href="#">Bracken Hill</a></li>
            <li><a href="#">Dry Gulch</a></li>
            <li><a href="#">Spring Mount</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-top-box wow fadeInUp">
          <h4>Tags</h4>
          <div class="tag"><a href="#">Farm Package</a></div>
          <div class="tag"><a href="#">Farm Propsal</a></div>
          <div class="tag"><a href="#">Investment</a></div>
          <div class="tag"><a href="#">commercial business</a></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-top-box wow fadeInUp">
          <h4>Contact us</h4>
          <p><b>Location :</b>Beirut,  Lebanon<br/>
            <b>Mob: </b> +961 81 810 137 / +961 70 875 303<br/>
            <b>Mail: </b> digitalfarmer@gmail.com </p>
        </div>
        <div class="footer-top-box wow fadeInUp">
          <h4>Subscribe</h4>
          <div class="cs-form">
            <form action="#" method="post">
              <div class="input-holder">
                <input type="email" placeholder="Enter Valid Email Address">
                <label> <i style="margin-left: 6px;" class="fa fa-location-arrow fa-2x"></i>
                  <input class="submit-bgcolor" type="submit" value="submit">
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="footer-bottom" class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="copyright">Copyright &copy; 2021. All Rights Reserved</div>
      </div>
      <div class="col-md-3">
        <div class="row-md-3">
          <div class="row list-inline social-buttons">
            <a href="#"><i class="fa fa-twitter mt-2"></i></a>
            <a href="#"><i class="fa fa-facebook mt-2"></i></a>
            <a href="#"><i class="fa fa-linkedin mt-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
