
  <carousel>
    <slide>
      <img src="assets/images/1.jpg" alt="first slide" style="width: 100%;height: 600px;">
      <div class="carousel-caption mt-5">
        <h1 class="wow slideInLeft " style="color: #88c13e;">Digital <span style="color: black;">Farmer</span> </h1>
        <h3 class="wow slideInRight " style="color: white;">Together Towards Building A Financially And Food Secured Future <br> For Lebanon</h3>
        <a *ngIf="(currentUser$ | async) === null" (click)="signin()" class="btn btn-primary wow bounceInUp">Sign In</a> &nbsp;
        <a *ngIf="(currentUser$ | async) === null" (click)="signup()" class="btn btn-seconday wow bounceInUp">Sign Up</a>
      </div>
    </slide>

    <slide>
      <img src="assets/images/2.jpg" alt="first slide" style="width: 100%;height: 600px;">
      <div class="carousel-caption mt-5">
        <h1 class="wow slideInLeft " style="color: #88c13e;">Digital <span style="color: black;">Farmer</span></h1>
        <h3 class="wow slideInRight " style="color: white;">Together Towards Building A Financially And Food Secured Future <br> For Lebanon</h3>
        <a *ngIf="(currentUser$ | async) === null"  (click)="signin()"   class="btn btn-primary wow bounceInUp">Sign In</a> &nbsp;
        <a *ngIf="(currentUser$ | async) === null"  (click)="signup()" class="btn btn-seconday wow bounceInUp">Sign Up</a>
      </div>
    </slide>

    <slide>
      <img src="assets/images/3.jpg" alt="first slide" style="width: 100%;height: 600px;">
      <div class="carousel-caption mt-5">
        <h1 class="wow slideInLeft " style="color: #88c13e;">Digital <span style="color: black;">Farmer</span></h1>
        <h3 class="wow slideInRight " style="color: white;">Together Towards Building A Financially And Food Secured Future <br> For Lebanon</h3>
        <a *ngIf="(currentUser$ | async) === null" (click)="signin()"   class="btn btn-primary wow bounceInUp">Sign In</a> &nbsp;
        <a *ngIf="(currentUser$ | async) === null" (click)="signup()" class="btn btn-seconday wow bounceInUp">Sign Up</a>
      </div>
    </slide>
  </carousel>
  <section id="section0" class="section-0-background">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="section-0-box-text-cont">
            <h3 style="font-size: 22px;">Kickstart Your Journey To Earning Mouthwatering Profits As A Digital Farmer.</h3>
          </div>
        </div>
        <div class="col-md-3">
          <div class="section-0-btn-cont"><a href="/shop" class="btn btn-seconday wow tada">Go To Catalogue</a></div>
        </div>
      </div>
    </div>
  </section>
    <section id="section2" class="section-margine" style="margin-left: 400px;">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center ">
            <div class="section-2-box-left wow fadeInUp">
              <h4>How It Works</h4>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="section-2-box-right wow fadeInRight">
              <p style="font-size: 20px;">We handle the entire agric value chain "from start to finish" while you sit back and enjoy returns after harvest</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  <section id="section1" class="section-margine">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="section-1-box wow bounceIn">
            <div class="section-1-box-icon-background" style="height: 130px; margin-top: 20px;"> <div style="height: 10px;"></div> <i style="font-style: normal; font-size: 3rem; color: white; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">1</i></div>
            <h4 class="text-left">Sign Up As a New Digital Farmer</h4>
            <p class="text-left">  Click on the “Sign Up” button and fill in
              your details to sign up as a sponsor.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="section-1-box wow bounceIn" data-wow-delay=".1s">
            <div class="section-1-box-icon-background" style="height: 130px; margin-top: 20px;"><div style="height: 10px;"></div><i style="font-style: normal; font-size: 3rem; color: white; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">2</i></div>
            <h4 class="text-left">Decide On a Farm Package</h4>
            <p class="text-left">Select a farm package, choose the number of units
              you’d like to fund and proceed to payment. You’ll
              receive a Congratulations email once the payment is
              successfully completed
              </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="section-1-box wow bounceIn" style="width: 550px;" data-wow-delay=".2s">
            <div class="section-1-box-icon-background" style="height: 130px; margin-top: 20px;"><div style="height: 10px;"></div><i style="font-style: normal; font-size: 3rem; color: white; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">3</i></div>
            <h4 class="text-left">Monitor & Collect</h4>
            <p class="text-left">Get updates via email all through the farm cycle and monitor
              your farm’s progress online. At the end of the farm cycle, earn
              profits coupled with your sponsorship funds paid directly into your
              local bank account. At this point you can either choose to re-subscribe
              or walk away happily.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section3" class="section-margine section3-background">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="section-3-box wow fadeInUp">
            <figure><i class="fa fa-group fa-2x"></i></figure>
            <h3><span class="counter">1000</span>+</h3>
            <h4>Clients</h4>
          </div>
        </div>

        <div class="col-md-4">
          <div class="section-3-box wow fadeInUp">
            <figure><i class="fa fa-desktop fa-2x"></i></figure>
            <h3><span class="counter">2000</span>+</h3>
            <h4>Projects</h4>
          </div>
        </div>

        <div class="col-md-4">
          <div class="section-3-box wow fadeInUp">
            <figure><i class="fa fa-star fa-2x"></i></figure>
            <h3><span class="counter">96</span>%</h3>
            <h4>Rating</h4>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="section4" class="section-margine section-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="section-4-box wow fadeIn" >
                <div class="section-4-box-text-cont">
                  <h5>AN INDUSTRY THAT MATTERS</h5>
                  <p>Ownership in a farm operation allows investors to learn about the many aspects that go into a real working farm and the hard work that goes into feeding the world.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-4-box wow fadeIn" data-wow-delay=".1s">
                <div class="section-4-box-text-cont">
                  <h5>DEMAND FOR FOOD</h5>
                  <p>By 2050 the world population will grow to over 10 billion people. An additional 3 billion people will enter the middle class causing food demand to sky rocket.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-4-box wow fadeIn" data-wow-delay=".2s">
                <div class="section-4-box-text-cont">
                  <h5>Fundraising Scarcity in the Lebanese Agri-Sector</h5>
                  <p>The Lebanese agricultural sector become sleepier than before with the running economic and financial crisis.
                      As no formal agricultural credit is available,
                      fundraising farming projects becomes a must.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <figure><img src="../../assets/images/man.jpg" class="img-responsive" style="width: 60%;"></figure>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="section-4-box wow fadeIn" data-wow-delay=".3s">
                <div class="section-4-box-text-cont">
                  <h5>MORE STABILITY THAN THE STOCK MARKET</h5>
                  <p>Since farmland is uncorrelated with most other major asset classes, it has proven to perform well during challenging economic conditions.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-4-box wow fadeIn" data-wow-delay=".4s">
                <div class="section-4-box-text-cont">
                  <h5>Building Healthy Relationships </h5>
                  <p>Once a quarter, we hold a #VillageMeeting enabling our digital farmers see how their sponsorship is affecting real people and effecting economic growth.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-4-box wow fadeIn" data-wow-delay=".5s">
                <div class="section-4-box-text-cont">
                  <h5>Secured Sponsorship</h5>
                  <p>Your sponsorship with us is secured. We have a relationship with Leadway Assurance Plc.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section5" class="section-margine section-5-background">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="section-5-box-text-cont wow fadeInRight">
            <h2 style="color: black;">OUR MISSION</h2>
            <p style="color: black; font-size: 18px;">The mission of “Digital Farmer” company is to smooth the funding process of poverty-stricken farming programs through adopting a simple alternative financing approach that builds an interrelated investment network towards energizing the dozy Lebanese agricultural sector.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section14" class="section-margine">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Our Recent Farm Packages</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="section-14-box wow fadeInLeft">
            <div class="date"><span>July</span><br>30<br><span>2021</span></div>
            <img src="../../assets/images/card1.png" class="img-responsive" alt="Blog image 1">
            <h3><a href="#">Bracken Hill</a></h3>
            <div class="row">
              <div class="col-md-12">
                <!-- <div class="text-left comments">By<a href="#">Moe</a></div> -->
              </div>
            </div>
            <p>There were fields far and wide, interrupted here and there by patches of forests left for local animals and plants. All around you cows and horses gently grazed in the silent pastures, and amidst the many fields ran a weed-ridden, cobblestone road.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="section-14-box wow fadeInLeft" data-wow-delay=".2s">
            <div class="date"><span>July</span><br>30<br><span>2021</span></div>
            <img src="../../assets/images/card3.png" class="img-responsive" alt="Blog image 1">
            <h3><a href="#">Dry Gulch</a></h3>
            <div class="row">
              <div class="col-md-12">
                <!-- <div class="text-left comments">By<a href="#">Steve</a></div> -->
              </div>
            </div>
            <p>There were fields all around, bordered only by the thick forests in the distance. All around you goats and cows grazed and lounged in the radiant pastures, and amidst the many fields ran a weed-ridden, cobblestone road.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="section-14-box wow fadeInLeft" data-wow-delay=".3s">
            <div class="date"><span>July</span><br>30<br><span>2021</span></div>
            <img src="../../assets/images/card2.png" class="img-responsive" alt="Blog image 1">
            <h3><a href="#">Spring Mount</a></h3>
            <div class="row">
              <div class="col-md-12">
                <!-- <div class="text-left comments">By<a href="#">Nora</a></div> -->
              </div>
            </div>
            <p>There were fields all around, bordered only by the thick forests in the distance. All around you cows and goats rested and grazed in the hushed pastures, and passing field after field ran a dusty, gravel road.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section10" class="section-10-background">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="section-10-box-text-cont wow fadeInUp">
            <p style="font-size: 20px; margin-top: 20px;">Benefit From Your Deserted Land And Kick-Start A New Farming Adventure.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="section-10-btn-cont"><a href="#" class="btn btn-seconday wow tada">Propose Your Farm</a></div>
        </div>
      </div>
    </div>
  </section>
  <section id="footer-top" class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="footer-top-box wow fadeInUp">
            <h4>About Us</h4>
            <p>"Digital Farmer" is a platform engaging a crowdfunding approach that goes-between investors and entrepreneurs, catalyzing the fundraising of agriculture projects in Lebanon.</p>
          </div>
          <div class="footer-top-box wow fadeInUp">
            <h4>Office Work Hours</h4>
            <b>Mon-Fri :</b> 09am to 06pm<br/>
            <b>Tues-Wed :</b> Special Appointment
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-top-box wow fadeInUp">
            <h4>Latest Farm Packages</h4>
            <ul>
              <li><a href="#">Bracken Hill</a></li>
              <li><a href="#">Dry Gulch</a></li>
              <li><a href="#">Spring Mount</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-top-box wow fadeInUp">
            <h4>Tags</h4>
            <div class="tag"><a href="#">Farm Package</a></div>
            <div class="tag"><a href="#">Farm Propsal</a></div>
            <div class="tag"><a href="#">Investment</a></div>
            <div class="tag"><a href="#">commercial business</a></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-top-box wow fadeInUp">
            <h4>Contact us</h4>
            <p><b>Location :</b>Beirut, Lebanon<br/>
              <b>Mob: </b> +961 81 810 137 / +961 70 875 303<br/>
              <b>Mail: </b> digitalfarmer@gmail.com </p>
          </div>
          <div class="footer-top-box wow fadeInUp">
            <h4>Subscribe</h4>
            <div class="cs-form">
              <form action="#" method="post">
                <div class="input-holder">
                  <input type="email" placeholder="Enter Valid Email Address">
                  <label> <i style="margin-left: 6px;" class="fa fa-location-arrow fa-2x"></i>
                    <input class="submit-bgcolor" type="submit" value="submit">
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="footer-bottom" class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="copyright">Copyright © 2021. All Rights Reserved</div>
        </div>
        <div class="col-md-3">
          <div class="row list-inline social-buttons">
            <a href="#"><i class="fa fa-twitter mt-2"></i></a>
            <a href="#"><i class="fa fa-facebook mt-2"></i></a>
            <a href="#"><i class="fa fa-linkedin mt-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
