<section id="section18" class="section-margine section18">
  <div class="container">
    <div class="row">
      <div class="col-md-5 wow fadeInLeft"><div class="section-18-img"><img src="../../assets/images/about-us.jpg" style="margin-top: 45px;" class="img-responsive" alt=""/></div></div>
      <div class="col-md-7 wow fadeInRight">
      <div class="textcont">
        <h2>About Us</h2>
        <h3 style="font-size: 16px;">"Digital Farmer" is a platform engaging a crowdfunding approach that goes-between investors and entrepreneurs, catalyzing the fundraising of agriculture projects in Lebanon. In other words, it plays the role of the financial mediator by gathering donations for poor and needy businesses, creating new momentum for economic development, and accelerating the transition towards smart farming to build a financially and food secured future.</h3>
        <h2>Our Objectives</h2>
        <ul>
          <li><i class="fa fa-check"></i>Crowdfunding farms with no Payback, thus liberation from heavy loans and financial stress.</li>
          <li><i class="fa fa-check"></i>Submitting simple alternative financing approach to traditional funding.</li>
          <li><i class="fa fa-check"></i>Boosting and lifting small farming businesses’ productivity.</li>
          <li><i class="fa fa-check"></i>Managing and organizing the agricultural investment network.</li>
          <li><i class="fa fa-check"></i>Planting a competitive sense in the Lebanese agri-business sector.</li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</section>
<section id="section17" class="section-margine section17">
  <div class="container">
    <div class="row">
      <div class="col-md-3 wow fadeInUp">
        <div class="team-member1">
          <div class="team-member1-img-cont"> <center><img src="../../assets/images/t1.png" style="height: 300px;" class="img-responsive" alt=""/></center> </div>
          <div class="team-member1-details">
           <h4>Zein Daher</h4>
           <p class="sub">Our CEO (Chief Executive Officer) & CFO (Chief Financial Officer)</p>
          </div>
        </div>
      </div>      
      <div class="col-md-3 wow fadeInUp">
        <div class="team-member1">
          <div class="team-member1-img-cont"> <center><img src="../../assets/images/t3.jpg" style="height: 300px;" class="img-responsive" alt=""/></center> </div>
          <div class="team-member1-details" style="height: 104px;">
           <h4>Sara Mrad</h4>
           <p class="sub">Our COO (Chief Operating Officer)</p>
          </div>
        </div>
      </div>      
      <div class="col-md-3 wow fadeInUp">
        <div class="team-member1">
          <div class="team-member1-img-cont"> <center><img src="../../assets/images/t4.jpg" class="img-responsive" alt=""/></center> </div>
          <div class="team-member1-details"style="height: 107px;">
           <h4>George Aridi</h4>
           <p class="sub">Our Financial Analyst and CAIA (Chartered Alternative Investment Analyst)</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 wow fadeInUp">
        <div class="team-member1">
          <div class="team-member1-img-cont"> <center><img src="../../assets/images/t2.jpg" style="height: 300px;" class="img-responsive" alt=""/></center> </div>
          <div class="team-member1-details" style="height: 104px;">
           <h4>Youssef Mohammad</h4>
           <p class="sub">Our Agricultural Engineer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section14" class="section-margine">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>Our Recent Farm Packages</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="section-14-box wow fadeInLeft">
          <div class="date"><span>July</span><br>30<br><span>2021</span></div>
          <img src="../../assets/images/card1.png" class="img-responsive" alt="Blog image 1">
          <h3><a href="#">Bracken Hill</a></h3>
          <div class="row">
            <div class="col-md-12">
              <!-- <div class="text-left comments">By<a href="#">Moe</a></div> -->
            </div>
          </div>
          <p>There were fields far and wide, interrupted here and there by patches of forests left for local animals and plants. All around you cows and horses gently grazed in the silent pastures, and amidst the many fields ran a weed-ridden, cobblestone road.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="section-14-box wow fadeInLeft" data-wow-delay=".2s">
          <div class="date"><span>July</span><br>30<br><span>2021</span></div>
          <img src="../../assets/images/card3.png" class="img-responsive" alt="Blog image 1">
          <h3><a href="#">Dry Gulch</a></h3>
          <div class="row">
            <div class="col-md-12">
              <!-- <div class="text-left comments">By<a href="#">Steve</a></div> -->
            </div>
          </div>
          <p>There were fields all around, bordered only by the thick forests in the distance. All around you goats and cows grazed and lounged in the radiant pastures, and amidst the many fields ran a weed-ridden, cobblestone road.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="section-14-box wow fadeInLeft" data-wow-delay=".3s">
          <div class="date"><span>July</span><br>30<br><span>2021</span></div>
          <img src="../../assets/images/card2.png" class="img-responsive" alt="Blog image 1">
          <h3><a href="#">Spring Mount</a></h3>
          <div class="row">
            <div class="col-md-12">
              <!-- <div class="text-left comments">By<a href="#">Nora</a></div> -->
            </div>
          </div>
          <p>There were fields all around, bordered only by the thick forests in the distance. All around you cows and goats rested and grazed in the hushed pastures, and passing field after field ran a dusty, gravel road.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="footer-top" class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-top-box wow fadeInUp">
          <h4>About Us</h4>
          <p>"Digital Farmer" is a platform engaging a crowdfunding approach that goes-between investors and entrepreneurs, catalyzing the fundraising of agriculture projects in Lebanon.</p>
        </div>
        <div class="footer-top-box wow fadeInUp">
          <h4>Office Work Hours</h4>
          <b>Mon-Fri :</b> 09am to 06pm<br/>
          <b>Tues-Wed :</b> Special Appointment
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-top-box wow fadeInUp">
          <h4>Latest Farm Packages</h4>
          <ul>
            <li><a href="#">Bracken Hill</a></li>
            <li><a href="#">Dry Gulch</a></li>
            <li><a href="#">Spring Mount</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-top-box wow fadeInUp">
          <h4>Tags</h4>
          <div class="tag"><a href="#">Farm Package</a></div>
          <div class="tag"><a href="#">Farm Propsal</a></div>
          <div class="tag"><a href="#">Investment</a></div>
          <div class="tag"><a href="#">commercial business</a></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-top-box wow fadeInUp">
          <h4>Contact us</h4>
          <p><b>Location :</b>Beirut, Lebanon<br/>
            <b>Mob: </b> +961 81 810 137 / +961 70 875 303<br/>
            <b>Mail: </b> digitalfarmer@gmail.com </p>
        </div>
        <div class="footer-top-box wow fadeInUp">
          <h4>Subscribe</h4>
          <div class="cs-form">
            <form action="#" method="post">
              <div class="input-holder">
                <input type="email" placeholder="Enter Valid Email Address">
                <label> <i style="margin-left: 6px;" class="fa fa-location-arrow fa-2x"></i>
                  <input class="submit-bgcolor" type="submit" value="submit">
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="footer-bottom" class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="copyright">Copyright &copy; 2021. All Rights Reserved</div>
      </div>
      <div class="col-md-3">
        <div class="row list-inline social-buttons">
          <a href="#"><i class="fa fa-twitter mt-2"></i></a>
          <a href="#"><i class="fa fa-facebook mt-2"></i></a>
          <a href="#"><i class="fa fa-linkedin mt-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
